<div style="text-align:center;">
	<p id="notice"><%= notice %></p>

	<%= render :partial => "matrix", :locals => {:matrix => @matrix} %>

	<br/><br/>
	<%= link_to 'Edit', edit_matrix_path(@matrix) %> |
	<%= link_to 'Back', matrices_path %>
	<br/><br/>
	<%= render :partial => "find", :locals => {:matrix => @matrix} %>

</div>